<div class="card-block post_property">
    <div class="admin-panel info-admin-panel">
        <div class="dashboard_title">
            <h2>Password</h2>
            <!--<p>Preliminary Data for Filing ITR</p>-->
        </div>



        <form name="passwordForm" novalidate data-ng-submit="changePassword()">
            <div class="row">
                <div class="col-md-8">
                    <!--<md-input-container class="md-block">-->
                    <!--<label>Current Password</label>-->
                    <!--<input required name="password" data-ng-model="user.password" id="password" type="password">-->
                    <!--<div class="tooltip-error">-->
                    <!--<div ng-messages="passwordForm.password.$error">-->
                    <!--<span ng-message="required">-->
                    <!--<i class="fa fa-info-circle"></i>-->
                    <!--<md-tooltip md-direction="left">-->
                    <!--Enter your current password-->
                    <!--</md-tooltip>-->
                    <!--</span>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</md-input-container>-->
                    <md-input-container class="md-block">
                        <label>New Password</label>
                        <input required name="new_password" data-ng-model="user.new_password" id="new_password"
                               data-ng-minlength="6" data-ng-maxlength="20" type="password">
                        <div class="tooltip-error">
                            <div ng-messages="passwordForm.new_password.$error">
                                <span ng-message="required">
                                    <i class="fa fa-info-circle"></i>
                                    <md-tooltip md-direction="left">
                                        Enter your new password
                                    </md-tooltip>
                                </span>
                                <span ng-message="minlength">
                                           <i class="fa fa-info-circle"></i>
                                               <md-tooltip md-direction="left" md-z-index="99991">
                                                     Enter minimum 6 character password
                                               </md-tooltip>
                                        </span>
                                <span ng-message="maxlength">
                                           <i class="fa fa-info-circle"></i>
                                               <md-tooltip md-direction="left" md-z-index="99991">
                                                     Password, Maximum 20 Characters
                                               </md-tooltip>
                                        </span>
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Confirm Password</label>
                        <input required name="confirm_password" data-ng-model="user.confirm_password"
                               id="confirm_password" type="password" compare-to="user.new_password">
                        <div class="tooltip-error">
                            <div ng-messages="passwordForm.confirm_password.$error">
                                <span ng-message="required">
                                    <i class="fa fa-info-circle"></i>
                                    <md-tooltip md-direction="left">
                                        Enter confirm password
                                    </md-tooltip>
                                </span>
                                <span ng-message="compareTo">
                                    <i class="fa fa-info-circle"></i>
                                    <md-tooltip md-direction="left">
                                        Password not matched
                                    </md-tooltip>
                                </span>
                            </div>
                        </div>
                    </md-input-container>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <button type="submit" data-ng-disabled="activated"
                            class="btn btn-primary waves-input-wrapper waves-effec waves-lightt">
                        Update
                    </button>
                    <md-progress-linear data-ng-if="activated" class="md-warn" md-mode="buffer"
                                        value="<% determinateValue %>"
                                        md-buffer-value="<% determinateValue2 %>"
                                        data-ng-disable="activated"></md-progress-linear>
                </div>
            </div>
            <!-- /.Fourth row -->
        </form>

    </div>
</div>