<div class="card-block">
    <div class="dashboard_sec text-center" data-ng-hide="not_found">
        <div class="admin-panel info-admin-panel">
            <div class="dashboard_title">
                <h2>Corporate ITR</h2>
                <p>Preliminary Data for Filing Corporate ITR</p>
            </div>
            <div class="empty_dash text-center">
                <div class="card-block">
                    <figure><img src="images/tax_dashboard.png" class="img-fluid" alt="dashboard"></figure>
                    <h3 class="mt-1">You have not filled your Business ITR</h3>
                    <!-- <a href="#" class="btn btn-primary">Fill ITR 1</a>-->
                    <a ui-sref="add-corp-itr" class="btn btn-primary">Add ITR </a>
                    <!--<a href="#" class="btn btn-primary">Fill ITR 3</a>-->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <itr-status></itr-status>
        <div class="col-md-6"></div>
            <sort-by>
                <div data-ng-click="porder = !porder; sortby('create_date', porder)"><label style="color: green">Sort
                    By:</label> <span> Date
                <i data-ng-class="porder?'fa fa-arrow-up':'fa fa-arrow-down'"></i></span></div>
            </sort-by>

        <!--<p>
                <sort-by></sort-by>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-block">
                    <ul>
                        <li data-ng-click="porder = !porder; sortby('create_date', porder)">Date
                            <i data-ng-class="porder?'fa fa-arrow-up':'fa fa-arrow-down'"></i> </li>
                        <li data-ng-click="iorder = !iorder; sortby('ITR', iorder)">ITR<i
                                data-ng-class="iorder?'fa fa-arrow-up':'fa fa-arrow-down'"></i></li>
                        <li data-ng-click="sorder = !sorder; sortby('status', sorder)">Status<i
                                data-ng-class="sorder?'fa fa-arrow-up':'fa fa-arrow-down'"></i></li>
                    </ul>
                </div>
            </div>-->
        <!--</div>-->
    </div>
    <add-corp-itr></add-corp-itr>
    <!--<div class="row" data-ng-if="itr_exists">
        <div class="col-sm-12 col-md-3 text-right">
            <a ui-sref="add-corp-itr" class="btn btn-primary">
                ADD ITR</a>
        </div>
    </div>-->
    <section class="section mb-0 properties">
        <div class="no-property-sec" data-ng-show="no_item">
            <div class="animated fadeInDown">
                <p><strong>Sorry! No Items Match Your Search.</strong></p>
                <p>ThankYou </p>
            </div>
        </div>
        <div data-ng-hide="hide_list">
            <div class="itr_list" data-ng-repeat="row in ITR track by row.id">
                <div class="row">
                    <div class="col-sm-12 col-md-2">
                        <itr-check></itr-check>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <a href="#">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <span><%row.company_name%></span><br>
                                    <small><%row.contact%></small>
                                    <br>
                                    <!--<small><%row.user_details.email%></small>-->
                                </div>
                                <div class="col-sm-12 col-md-3">
                                    <span data-ng-if="row.ITR"><strong style="color: #00A000"><%row.i_t_r.category_name%></strong></span>
                                    | FY: 16-17<br>
                                    <small> <%row.create_date%></small>
                                </div>
                                <div class="col-sm-12 col-md-3">
                                    <!--<span>Status:</span><br>-->
                                    <small data-ng-if="row.ITR"><strong><%row.status.category_name%></strong>
                                    </small>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-12 col-md-2 text-right">
                        <a href="javascript:void(0);" ng-click="editTabDialog(row)" class="btn btn-success btn-sm">
                            Edit</a>
                    </div>
                </div>
            </div>
        </div>

        <nav aria-label="Page navigation" class="pull-right">
            <ul data-ng-if="pager.totalItem > 0" uib-pagination total-items="pager.totalItem"
                ng-model="pager.currentPage"
                items-per-page="pager.itemPerPage"
                max-size="pager.maxSize" ng-change="nextPage()" class="pagination"
                boundary-link-numbers="true"
                force-ellipses="true" rotate="true">
            </ul>
        </nav>
    </section>

    <!--<button class="add_property_btn" aria-label="Add ITR" ui-sref="add-itr">
        <i class="fa fa-plus"></i>
        <md-tooltip md-direction="top">Add ITR</md-tooltip>
    </button>-->
</div>
