<section class="section section-intro mb-0">
    <!--
     <div class="row mb-0">
         <div class="col-md-4 mb-1">
             <div class="card card-cascade cascading-admin-card">
                 <div class="admin-up"><i class="fa fa-building-o light-green darken-3"></i>
                     <div class="data">
                         <p>Property</p>
                         <h3>00</h3>
                     </div>
                 </div>
             </div>
         </div>
         <div class="col-md-4 mb-1">
             <div class="card card-cascade cascading-admin-card">
                 <div class="admin-up"><i class="fa fa-user lime darken-4"></i>
                     <div class="data">
                         <p>Owner Enquiry</p>
                         <h3>00</h3>
                     </div>
                 </div>
             </div>
         </div>
         <div class="col-md-4 mb-1">
             <div class="card card-cascade cascading-admin-card">
                 <div class="admin-up"><i class="fa fa-list-alt pink darken-4"></i>
                     <div class="data">
                         <p>Buyer Enquiry</p>
                         <h3>00</h3>
                     </div>
                 </div>
             </div>
         </div>
     </div>
     -->
</section>

<div class="card-block admin-panel info-admin-panel">
    <div class="dashboard_title">
        <h2>Welcome EnsureTax.com</h2>
        <p>Preliminary Data for Filing ITR</p>
    </div>
    <div class="empty_dash text-center">
        <div class="card-block">
            <figure><img src="images/101housing/tax_dashboard.png" class="img-fluid" alt="dashboard"></figure>
            <h3 class="mt-1">You have no any activities yet!</h3>
            <a href="#" class="btn btn-success">Fill ITR 1</a>
            <a href="#" class="btn btn-primary">Fill ITR 2</a>
            <a href="#" class="btn btn-primary">Fill ITR 3</a>

        </div>
    </div>
</div>
