<md-tab ng-disabled="tabs.disable">
    <md-tab-label>Next Step <br> <span class="txt"> ITR 4 </span></md-tab-label>
    <md-tab-body>
        <form name="ITR4Form" novalidate data-ng-submit="submitITR4()">
            <hr>
            <div class="card f-2 mt-2">
                <div class="card-block bdr-btm">
                    <h6> Income Under the Head Business & Profession </h6>
                    <div class="row">
                        <div class="col-md-4">
                            <md-input-container class="md-block">
                                <label>Nature of business</label>
                                <input type="text" name="business_nature"
                                       data-ng-model="itr.business_nature">
                            </md-input-container>
                        </div>
                        <div class="col-md-4">
                            <md-input-container class="md-block">
                                <label>Presumptive Turnover(In INR)</label>
                                <input type="text" name="turnover" data-ng-model="itr.turnover">
                            </md-input-container>
                        </div>
                        <div class="col-md-4">
                            <md-input-container class="md-block">
                                <label>Net Profit to be Considered(In INR)</label>
                                <input type="text" name="net_profit" data-ng-model="itr.net_profit">
                            </md-input-container>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card f-2 mt-2">
                <div class="card-block bdr-btm">
                    <h6>If Total Income Exceeds INR 50 Lakhs</h6>
                    <div class="card-block bdr-btm">
                        <div class="row">
                            <div class="col-md-8">
                                <h6><fieldset class="form-group">
                                    <input type="checkbox" id="immovable_assets"
                                           data-ng-model="itr.immovable_assets">
                                    <label for="immovable_assets">Immovable Assets</label>
                                </fieldset></h6>
                            </div>
                            <upload-btn name="itr.immovable_asset_image" data-ng-if="itr.immovable_assets"></upload-btn>
                        </div>
                        <div class="doc_img" data-ng-if="itr.immovable_assets" ng-repeat="row in itr.immovable_asset_image track by $index">
                            <img data-ng-src="<%row|imageUrl%>" alt="img">
                            <a class="down_img" href="<%row|downloadImg%>" target="_self" download><i class="fa fa-download"></i></a>
                            <del-image data-ng-click="remove(row,'immovable_asset_image')"></del-image>
                        </div>
                    </div>
                    <div class="card-block bdr-btm">
                        <div class="row">
                            <div class="col-md-8">
                                <h6><fieldset class="form-group">
                                    <input type="checkbox" id="assets_partner"
                                           data-ng-model="itr.assets_partner"
                                           name="partner">
                                    <label for="assets_partner">Partner in the Firm</label>
                                </fieldset></h6>
                            </div>
                            <upload-btn name="itr.assets_partner_image" data-ng-if="itr.assets_partner"></upload-btn>
                        </div>
                        <div class="doc_img" data-ng-if="itr.assets_partner" ng-repeat="row in itr.assets_partner_image track by $index">
                            <img data-ng-src="<%row|imageUrl%>" alt="img">
                            <a class="down_img" href="<%row|downloadImg%>" target="_self" download><i class="fa fa-download"></i></a>
                            <del-image data-ng-click="remove(row,'assets_partner_image')"></del-image>
                        </div>
                    </div>
                    <div class="card-block bdr-btm">
                        <h6> Movable Assets </h6>
                        <div class="row">
                            <div class="col-md-4">
                                <md-input-container class="md-block">
                                    <label>Jewellery Amount</label>
                                    <input type="text" name="jewellery_amnt" data-ng-model="itr.jewellery_amnt">
                                </md-input-container>
                            </div>
                            <div class="col-md-4">
                                <md-input-container class="md-block">
                                    <label>Vehicles Amount</label>
                                    <input type="text" name="paintings_amnt" data-ng-model="itr.paintings_amnt">
                                </md-input-container>
                            </div>
                            <div class="col-md-4">
                                <md-input-container class="md-block">
                                    <label>Paintings Amount</label>
                                    <input type="text" name="vehicles_amnt" data-ng-model="itr.vehicles_amnt">
                                </md-input-container>
                            </div>
                            <div class="col-md-4">
                                <md-input-container class="md-block">
                                    <label>Amount in Bank</label>
                                    <input type="text" name="bank_amnt" data-ng-model="itr.bank_amnt">
                                </md-input-container>
                            </div>
                            <div class="col-md-4">
                                <md-input-container class="md-block">
                                    <label>Shares & Securities</label>
                                    <input type="text" name="share_amnt" data-ng-model="itr.share_amnt">
                                </md-input-container>
                            </div>
                            <div class="col-md-4">
                                <md-input-container class="md-block">
                                    <label>Loans & Advances Given</label>
                                    <input type="text" name="loan_amnt" data-ng-model="itr.loan_amnt">
                                </md-input-container>
                            </div>
                            <div class="col-md-4">
                                <md-input-container class="md-block">
                                    <label>In-Hand Cash</label>
                                    <input type="text" name="cash_amnt" data-ng-model="itr.cash_amnt">
                                </md-input-container>
                            </div>
                            <div class="col-md-4">
                                <md-input-container class="md-block">
                                    <label>Any Other Liabilities (In INR)</label>
                                    <input type="text" name="other_liability_amnt"
                                           data-ng-model="itr.other_liability_amnt">
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card en_doc mt-2">
                <div class="card-block bdr-btm">
                    <div class="row">
                        <div class="col-md-8">
                            <fieldset class="form-group">
                                <input type="checkbox" id="other_source_income4"
                                       data-ng-model="itr.other_source_income">
                                <label for="other_source_income4">Income from Other Sources</label>
                            </fieldset>
                        </div>
                        <upload-btn name="itr.othr_source_incm_image" data-ng-if="itr.other_source_income"></upload-btn>
                    </div>
                    <div class="doc_img" data-ng-if="itr.other_source_income" ng-repeat="row in itr.othr_source_incm_image track by $index">
                        <img data-ng-src="<%row|imageUrl%>" alt="img">
                        <a class="down_img" href="<%row|downloadImg%>" target="_self" download><i class="fa fa-download"></i></a>
                        <del-image data-ng-click="remove(row,'othr_source_incm_image')"></del-image>
                    </div>
                </div>
                </div>
            <div class="modal-footer border-top-0 text-center pt-0">
                <md-progress-linear data-ng-if="activated" class="md-warn" md-mode="buffer"
                                    value="<% determinateValue %>"
                                    md-buffer-value="<% determinateValue2 %>"
                                    data-ng-disable="activated"></md-progress-linear>
                <input data-ng-model="itr.id" type="hidden" name="id"/>
                <a class="btn btn-rounded btn-lg waves-effect waves-light mt-1"
                   data-ng-click="backTab()">Back
                </a>
                <save-btn></save-btn>
            </div>
        </form>
    </md-tab-body>
</md-tab>