<div class="card-block post_property">
    <div class="admin-panel info-admin-panel">
        <div class="dashboard_title" ng-hide="message">
            <h2>FY : 2016-17</h2>
            <a href="#" ui-sref="itr" class="pull-right doc_close"> <i class="fa fa-close"></i> Close</a>
        </div>
        <div class="post-success" ng-show="message">
            <div>
                <i class="fa fa-check fa-4x"></i>
            </div>
            <h2>Thank you</h2>
            <p> Your ITR has been saved successfully. <br>
                You can check and edit your ITR in ITR section.</p>
            <a href="#" ui-sref="itr" class="btn btn-info ok"> OK </a>
        </div>
        <md-tabs md-dynamic-height="true" md-no-ink-bar="true" md-border-bottom="true" md-center-tabs="true"
                 md-selected="tabs.selectedIndex" md-no-ink="true" ng-hide="message">
        <md-tab>
            <md-tab-label>User Details</md-tab-label>
            <md-tab-body>
                <form name="profileForm" novalidate data-ng-submit="postProfile()" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-4">
                            <md-input-container class="md-block">
                                <label>Name</label>
                                <input type="text" name="name" data-ng-model="user.name">
                            </md-input-container>
                        </div>
                        <div class="col-md-4">
                            <md-input-container class="md-block">
                                <label>Email Id</label>
                                <input type="text" name="email" data-ng-model="user.email">
                            </md-input-container>
                        </div>
                        <div class="col-md-4">
                            <md-input-container class="md-block">
                                <label>Mobile</label>
                                <input type="text" name="mobile" data-ng-model="user.mobile">
                            </md-input-container>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <md-input-container class="md-block">
                                <label>IFSC Code</label>
                                <input type="text" name="ifsc" data-ng-model="user.ifsc_code">
                            </md-input-container>
                        </div>
                        <div class="col-md-4">
                            <md-input-container class="md-block">
                                <label>Residential Status</label>
                                <md-select name="ITR" data-ng-model="user.residential_status">
                                    <md-option ng-repeat="res in residence track by $index" ng-value="<%res.value%>">
                                        <%res.text%>
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div class="col-md-4">
                            <md-input-container class="md-block">
                                <label>Employer Category</label>
                                <md-select name="employer" data-ng-model="user.employer_category">
                                    <md-option ng-repeat="emp in employer track by $index" ng-value="<%emp.value%>">
                                        <%emp.text%>
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </div>
                    <div class="card-block bdr-btm">
                        <div class="row">
                            <div class="col-md-8">
                                <fieldset class="form-group">
                                    <span>Upload Pan Card</span>
                                </fieldset>
                            </div>

                            <div class="col-md-4 text-center">
                                <label class="dp-upload">
                                    <input type="file" name="pan_image" ng-file-model="user.pan_image" multiple>
                                    <i class="fa fa-upload"></i> <span>Upload doc</span>
                                </label>
                            </div>
                        </div>
                        <div class="doc_img" data-ng-repeat="row in user.pan_image track by $index">
                            <img data-ng-src="<%row|proImageUrl%>" alt="img">
                            <a class="down_img" href="<%row|downloadProImage%>" target="_self" download><i class="fa fa-download"></i></a>
                            <del-image data-ng-click="remove(row,'pan_image')"></del-image>
                        </div>
                    </div>
                    <div class="card-block bdr-btm">
                        <div class="row">
                            <div class="col-md-8">
                                <fieldset class="form-group">
                                    <span>Previous Year Return</span>
                                </fieldset>
                            </div>

                            <div class="col-md-4 text-center">
                                <label class="dp-upload">
                                    <input type="file" name="previous_return_image" ng-file-model="user.previous_return_image"
                                           multiple>
                                    <i class="fa fa-upload"></i> <span>Upload doc</span>
                                </label>
                            </div>
                        </div>
                        <div class="doc_img" data-ng-repeat="row in user.previous_return_image track by $index">
                            <img data-ng-src="<%row|proImageUrl%>" alt="img">
                            <a class="down_img" href="<%row|downloadProImage%>" target="_self" download><i class="fa fa-download"></i></a>
                            <del-image data-ng-click="remove(row,'previous_return_image')"></del-image>
                        </div>
                    </div>
                    <div class="card-block bdr-btm">
                        <div class="row">
                            <div class="col-md-8">
                                <fieldset class="form-group">
                                    <span>Bank Statement</span>
                                </fieldset>
                            </div>

                            <div class="col-md-4 text-center">
                                <label class="dp-upload">
                                    <input type="file" name="bank_statement" ng-file-model="user.bank_statement" multiple>
                                    <i class="fa fa-upload"></i> <span>Upload doc</span>
                                </label>
                            </div>
                        </div>
                        <div class="doc_img" data-ng-repeat="row in user.bank_statement track by $index">
                            <img data-ng-src="<%row|proImageUrl%>" alt="img">
                            <a class="down_img" href="<%row|downloadProImage%>" target="_self" download><i class="fa fa-download"></i></a>
                            <del-image data-ng-click="remove(row,'bank_statement')"></del-image>
                        </div>
                    </div>
                    <md-input-container class="md-block">
                        <label>Residence Address</label>
                        <textarea data-ng-model="user.address" name="address" rows="3"
                                  md-select-on-focus></textarea>
                    </md-input-container>
                    <div class="modal-footer border-top-0 text-center">
                        <md-progress-linear data-ng-if="activated" class="md-warn" md-mode="buffer"
                                            value="<% determinateValue %>"
                                            md-buffer-value="<% determinateValue2 %>"
                                            data-ng-disable="activated"></md-progress-linear>
                        <input data-ng-model="propLoc.id" type="hidden" name="id"/>
                        <save-btn></save-btn>
                        <next-btn></next-btn>
                    </div>
                </form>
            </md-tab-body>
        </md-tab>
        <md-tab>
            <md-tab-label>Step 1 <br> <span class="txt">Fill ITR Details</span></md-tab-label>
            <md-tab-body>
                <form name="taxForm" novalidate data-ng-submit="submitITR1()" enctype="multipart/form-data">
                    <hr>
                    <div class="row">
                        <div class="col-md-4">
                            <md-input-container class="md-block">
                                <label>Select ITR</label>
                                <md-select name="ITR" data-ng-model="itr.ITR" required>
                                    <md-option ng-repeat="t in ITR track by $index"
                                               ng-value="<%t.value%>">
                                        <%t.text%>
                                    </md-option>
                                </md-select>
                                <div class="tooltip-error">
                                    <div ng-messages="taxForm.ITR.$error">
                                            <span ng-message="required">
                                                <i class="fa fa-info-circle"></i>
                                                <md-tooltip md-direction="left">
                                                    Please Select ITR
                                                </md-tooltip>
                                            </span>
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                    </div>

                    <div class="card en_doc mt-2">
                        <div class="card-block">
                            <div class="row">
                                <div class="col-md-6">
                                    <h6>1. Income Under the Head Salary</h6>
                                    <p><strong>FORM 16</strong> - Form 16 is provided by employer containing the
                                        computation of income and tax deductions</p>
                                </div>
                                <div class="col-md-2">
                                    <input type="text" name="form_16_amnt" data-ng-model="itr.form_16_amnt"
                                           placeholder="Amount">
                                </div>
                                <upload-btn name="itr.form_16"></upload-btn>
                            </div>
                            <div class="doc_img" ng-repeat="row in itr.form_16 track by $index">
                                <img data-ng-src="<%row|imageUrl%>" alt="img">
                                <a class="down_img" href="<%row|downloadImg%>" target="_self" download><i
                                        class="fa fa-download"></i></a>
                                <del-image data-ng-click="remove(row,'form_16')"></del-image>
                            </div>
                        </div>
                    </div>
                    <div class="card en_doc mt-2">
                        <div class="card-block">
                            <div class="row">
                                <div class="col-md-6">
                                    <h6>2. Income from One House Property</h6>
                                    <p>Loan & Interest Certificate <br> (House property income pertains to rental
                                        income)</p>
                                </div>
                                <div class="col-md-2">
                                    <input type="text" name="income_loss" data-ng-model="itr.house_income"
                                           placeholder="Amount">
                                </div>
                                <upload-btn name="itr.loan_certificate"></upload-btn>
                            </div>
                            <div class="doc_img" ng-repeat="row in itr.loan_certificate track by $index">
                                <img data-ng-src="<%row|imageUrl%>" alt="img">
                                <a class="down_img" href="<%row|downloadImg%>" target="_self" download><i
                                        class="fa fa-download"></i></a>
                                <del-image data-ng-click="remove(row,'loan_certificate')"></del-image>
                            </div>
                        </div>
                    </div>
                    <div class="card en_doc mt-2">
                        <div class="card-block">
                            <div class="row">
                                <div class="col-md-6">
                                    <h6>3. Income from Other Sources</h6>
                                    <p>Interest Certificate</p>
                                </div>
                                <div class="col-md-2">
                                    <input type="text" name="interest_income" data-ng-model="itr.interest_income"
                                           placeholder="Amount">
                                </div>
                                <upload-btn name="itr.interest_certificate"></upload-btn>
                            </div>
                            <div class="doc_img" ng-repeat="row in itr.interest_certificate track by $index">
                                <img data-ng-src="<%row|imageUrl%>" alt="img">
                                <a class="down_img" href="<%row|downloadImg%>" target="_self" download><i
                                        class="fa fa-download"></i></a>
                                <del-image data-ng-click="remove(row,'interest_certificate')"></del-image>
                            </div>
                        </div>
                    </div>

                    <div class="card en_doc mt-2">
                        <div class="card-block">
                            <h6>4. Details of Deduction to be Claimed Along with Proofs (If Any)</h6>
                            <br>
                            <div class="row bdr-btm">
                                <div class="col-md-8">
                                    <h5>Deduction to be Claimed u/s 80C</h5>
                                    <p>Deduction in respect of life insurance premia, installment paid for the
                                        purpose of purchase or construction of a residential house property,
                                        contribution to provident fund, contribution to public provident fund,
                                        contribution to fixed deposit with a scheduled bank for 5 years or more,
                                        subscription to certain equity shares or debentures, etc</p>

                                </div>
                                <upload-btn name="itr.claim_80C"></upload-btn>
                                <div class="col-md-12">
                                    <div class="doc_img" ng-repeat="row in itr.claim_80C track by $index">
                                        <img data-ng-src="<%row|imageUrl%>" alt="img">
                                        <a class="down_img" href="<%row|downloadImg%>" target="_self" download><i
                                                class="fa fa-download"></i></a>
                                        <del-image data-ng-click="remove(row,'claim_80C')"></del-image>
                                    </div>
                                </div>
                            </div>

                            <div class="row bdr-btm">
                                <div class="col-md-8">
                                    <h5>Deduction to be Claimed u/s 80D</h5>
                                    <p>Deduction in respect of health insurance premia</p>
                                </div>
                                <upload-btn name="itr.claim_80D"></upload-btn>
                                <div class="col-md-12">
                                    <div class="doc_img" ng-repeat="row in itr.claim_80D track by $index">
                                        <img data-ng-src="<%row|imageUrl%>" alt="img">
                                        <a class="down_img" href="<%row|downloadImg%>" target="_self" download><i
                                                class="fa fa-download"></i></a>
                                        <del-image data-ng-click="remove(row,'claim_80D')"></del-image>
                                    </div>
                                </div>
                            </div>
                            <div class="row bdr-btm">
                                <div class="col-md-8">
                                    <h5>Deduction to be Claimed u/s 80G</h5>
                                    <p>Deduction in respect of donations to certain funds, charitable institutions,
                                        etc</p>
                                </div>
                                <upload-btn name="itr.claim_80G"></upload-btn>
                                <div class="col-md-12">
                                    <div class="doc_img" ng-repeat="row in itr.claim_80G track by $index">
                                        <img data-ng-src="<%row|imageUrl%>" alt="img">
                                        <a class="down_img" href="<%row|downloadImg%>" target="_self" download><i
                                                class="fa fa-download"></i></a>
                                        <del-image data-ng-click="remove(row,'claim_80G')"></del-image>
                                    </div>
                                </div>
                            </div>

                            <div class="row bdr-btm">
                                <div class="col-md-8">
                                    <h5>Other Deduction</h5>
                                    <p>Deduction in respect of interest on deposits in savings account</p>
                                </div>
                                <upload-btn name="itr.other_deduction"></upload-btn>
                                <div class="col-md-12">
                                    <div class="doc_img" ng-repeat="row in itr.other_deduction track by $index">
                                        <img data-ng-src="<%row|imageUrl%>" alt="img">
                                        <a class="down_img" href="<%row|downloadImg%>" target="_self" download><i
                                                class="fa fa-download"></i></a>
                                        <del-image data-ng-click="remove(row,'other_deduction')"></del-image>
                                    </div>
                                </div>
                            </div>


                            <div class="row bdr-btm">
                                <div class="col-md-8">
                                    <h5>Paid Tax Challan (If Any)</h5>
                                </div>
                                <upload-btn name="itr.tax_challan"></upload-btn>
                                <div class="col-md-12">
                                    <div class="doc_img" ng-repeat="row in itr.tax_challan track by $index">
                                        <img data-ng-src="<%row|imageUrl%>" alt="img">
                                        <a class="down_img" href="<%row|downloadImg%>" target="_self" download><i
                                                class="fa fa-download"></i></a>
                                        <del-image data-ng-click="remove(row,'tax_challan')"></del-image>
                                    </div>
                                </div>
                            </div>

                            <div class="row bdr-btm">
                                <div class="col-md-8">
                                    <h5>Form 26AS</h5>
                                    <p>Form 26AS outlines tax deducted form your income by the persons responsible
                                        to pay the income. Same can be downloaded form the website <a
                                                href="www.incometaxindiaefiling.gov.in" target="_blank">'www.incometaxindiaefiling.gov.in'</a>
                                    </p>
                                </div>
                                <upload-btn name="itr.form_26A"></upload-btn>
                                <div class="col-md-12">
                                    <div class="doc_img" ng-repeat="row in itr.form_26A track by $index">
                                        <img data-ng-src="<%row|imageUrl%>" alt="img">
                                        <a class="down_img" href="<%row|downloadImg%>" target="_self" download><i
                                                class="fa fa-download"></i></a>
                                        <del-image data-ng-click="remove(row,'form_26A')"></del-image>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer border-top-0 text-center pt-0">
                        <md-progress-linear data-ng-if="activated" class="md-warn" md-mode="buffer"
                                            value="<% determinateValue %>"
                                            md-buffer-value="<% determinateValue2 %>"
                                            data-ng-disable="activated"></md-progress-linear>
                        <input data-ng-model="itr.id" type="hidden" name="id"/>
                        <a class="btn btn-rounded btn-lg waves-effect waves-light mt-1"
                           data-ng-click="backTab()">Back
                        </a>
                        <next-btn></next-btn>
                        <save-btn></save-btn>
                    </div>
                </form>
            </md-tab-body>
        </md-tab>
        <itr-mode></itr-mode>
        </md-tabs>
    </div>
</div>