/* Have to set height explicity on ui-view
to prevent collapsing during animation*/
/*.well[ui-view] {*/
/*height: 65px;*/
/*}*/

.anim_view {
    -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
    /* easeOutQuad */
    -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);

}

.anim_view.ng-enter, .anim_view.ng-leave {

}

.anim_view.ng-enter {
    transform: translateY(60px);
    -ms-transform: translateY(60px);
    -webkit-transform: translateY(60px);
    transition-duration: 600ms;
    -webkit-transition-duration: 600ms;
    opacity: 0;
}

.anim_view.ng-enter-active {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
}

/*.anim_view.ng-leave {*/
    /*transform: translateY(0);*/
    /*-ms-transform: translateY(0);*/
    /*-webkit-transform: translateY(0);*/
    /*transition-duration: 250ms;*/
    /*-webkit-transition-duration: 250ms;*/
    /*opacity: 1;*/
/*}*/

/*.anim_view.ng-leave-active {*/
    /*transform: translateY(60px);*/
    /*-ms-transform: translateY(60px);*/
    /*-webkit-transform: translateY(60px);*/
    /*opacity: 0;*/
/*}*/