<div class="hero_banner res">
    <div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="carousel-cap">
                        <h1>Corporate and Business Tax Advisory</h1>
                        <p>Our team will bring you technical knowledge, business experience and consistent methodologies
                            to service your requirement.</p>

                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-cap">
                        <h1>Corporate and Business Tax Advisory</h1>
                        <p>Our team will bring you technical knowledge, business experience and consistent methodologies
                            to service your requirement.</p>

                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-cap">
                        <h1>Corporate and Business Tax Advisory</h1>
                        <p>Our team will bring you technical knowledge, business experience and consistent methodologies
                            to service your requirement.</p>

                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-12">
                        <a class="btn btn-success btn-lg" href="#buss_plan"> Business Tax</a>
                        <a class="btn btn-default btn-lg" href="#pers_plan"> Personal Tax</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<main>
    <div class="service mt-3 mb-3">
        <div class="container tax_type_warp">

            <div class="row" id="gst_plan">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h2>GSTR 3B</h2>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <div class="card tax_type">
                        <div class="card-body text-center">
                            <h3>FILE YOUR GSTR 3B</h3>
                            <span>
                                <i class="fa fa-inr"></i> 4999 *
                                <small> (The due date for filing form 3 B for the month of July is 20th August 2017.)</small>
                            </span>
                            <p>With an intent to have ease of business and smooth transition to GST, government had
                                allowed a simpler return form (Form 3 B) to be filed for the month of July and August
                                (Actual returns in Form GSRT 1, 2 and 3 will any ways be filed in the month September
                                with relaxed time lines for the said month). </p>

                            <a href="#" class="btn btn-success" data-ng-click="applyGST3B()">Apply</a>
                        </div>
                    </div>
                </div>


            </div>


            <div class="row mt-4" id="buss_plan">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h2>Business Tax Plan</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card tax_type">
                        <div class="card-body text-center">
                            <h3>STARTER BUSINESS</h3>

                            <span>
                                <i class="fa fa-inr"></i> 9999
                            </span>
                            <p>Suitable for Freelancers, Small Businesses with turnover under<br> <i
                                    class="fa fa-inr"></i> 2 Crore

                                CA assisted Preparation and Tax Filing</p>

                            <a href="#" class="btn btn-success" data-ng-click="applybusinessItr()">Apply</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card tax_type">
                        <div class="card-body text-center">
                            <h3>MEDIUM BUSINESS</h3>

                            <span>
                                <i class="fa fa-inr"></i> 19999 *
                            </span>
                            <p>Suitable for Medium/Small Businesses with turnover of more than<br> <i
                                    class="fa fa-inr"></i> 2 Crores

                                CA assisted Preparation and Tax Filing</p>

                            <a href="#" class="btn btn-success" data-ng-click="applybusinessItr()">Apply</a>
                        </div>
                    </div>
                </div>


                <p class="col-md-12 text-center mt-2 text-center">
                    <small>*Please note that during the course of return filing, and basis discussions at your end, if
                        we find that the level efforts involved are very high due to complexities involved, then we
                        shall let you know and request for a fee renegotiation.
                    </small>
                </p>


            </div>


            <div class="row mt-3" id="pers_plan">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h2>Personal Tax Plan</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="service-wrapper">
                        <div class="service-item clearfix">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="content">
                                        <h4>ITR1</h4>
                                        <p>For Individuals having Income from Salaries, one house property, other
                                            sources (Interest etc.) and having total income upto INR 50 lakh</p>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="job-location"><p>Fees</p>
                                        <i class="fa fa-inr"></i> 499/-
                                    </div>
                                </div>
                                <div class="col-md-3 text-center">
                                    <button class="btn btn-success" data-ng-click="applyITR(2)"> Apply</button>
                                </div>
                            </div>
                        </div>

                        <div class="service-item clearfix">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="content">
                                        <h4>ITR2</h4>
                                        <p>For Individuals and HUFs not carrying out business or profession under any
                                            proprietorship.</p>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="job-location"><p>Fees</p>
                                        <i class="fa fa-inr"></i> 999/-
                                    </div>
                                </div>
                                <div class="col-md-3 text-center">
                                    <button class="btn btn-success" data-ng-click="applyITR(3)"> Apply</button>
                                </div>
                            </div>
                        </div>

                        <div class="service-item clearfix">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="content">
                                        <h4>ITR3</h4>
                                        <p>For individuals and HUFs having income from a proprietary business or
                                            profession.</p>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="job-location"><p>Fees</p>
                                        <i class="fa fa-inr"></i> 1499/-
                                    </div>
                                </div>
                                <div class="col-md-3 text-center">
                                    <button class="btn btn-success" data-ng-click="applyITR(4)"> Apply</button>
                                </div>
                            </div>
                        </div>

                        <div class="service-item clearfix">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="content">
                                        <h4>ITR4</h4>
                                        <p>For presumptive income from Business & Profession.</p>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="job-location"><p>Fees</p>
                                        <i class="fa fa-inr"></i> 499/-
                                    </div>
                                </div>
                                <div class="col-md-3 text-center">
                                    <button class="btn btn-success" data-ng-click="applyITR(5)"> Apply</button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>


            <div class="clearfix"></div>
            <div class="text-center mt-2">
                <a href="https://incometaxindiaefiling.gov.in/e-Filing/Services/LinkAadhaarHome.html" target="_blank"
                   class="btn btn-warning btn-rounded btn-lg">Linking of Aadhar number</a>
            </div>


        </div>
    </div>

    <!--
        <div class="additing mt-4 mb-3">
            <div class="container">

                <div class="row">
                    <div class="col-md-10 center-block">
                        <h2 class="text-center">Our Services</h2>

                        <p class="text-center tittle mt-1 mb-2"><strong> EnsureTax.com </strong> provides independent audit services that enhances the reliability of information used by investors and other stakeholders. Our audit methodology focuses on maintaining transparency and requirements laid down by International Standards on Auditing. Our Assurance and Audit services includes:</p>
                    </div>



                    <div class="col-sm-4 mb-30">
                        <div class="featured-icon-png">
                            <div class="image"> <img src="images/icon/attest.svg" alt="Attest" data-pagespeed-url-hash="1571323662" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"> </div>
                            <h5>Attest Services</h5>
                            <ul>
                                <li>Audits and reviews of financial statements</li>
                                <li>SOX attestation</li>
                                <li>agreed upon procedures</li>
                                <li>certification services</li>
                                <li>Tax audits</li>
                            </ul>
                            <a href="#">More Details</a> </div>
                    </div>
                    <div class="col-sm-4 mb-30">
                        <div class="featured-icon-png">
                            <div class="image"> <img src="images/icon/report.svg" alt="Reporting" data-pagespeed-url-hash="751103245" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"> </div>
                            <h5>Financial Reporting</h5>
                            <ul>
                                <li>Contracts review and structuring</li>
                                <li>Training on audit &amp; accounting matters</li>
                                <li>Preparation of accounting manuals</li>
                                <li>Global financial reporting consistency</li>
                                <li>IPO and Company law advisory</li>
                            </ul>
                            <a href="#">More Details</a> </div>
                    </div>
                    <div class="col-sm-4 mb-30">
                        <div class="featured-icon-png">
                            <div class="image"> <img src="images/icon/transformation.svg" alt="Transformation" data-pagespeed-url-hash="4078870926" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"> </div>
                            <h5>Transformation</h5>
                            <ul>
                                <li>GAAP conversion</li>
                                <li>Advice on Indian Accounting Standards</li>
                                <li>GAAP conversion</li>
                                <li>Advice on Indian Accounting Standards</li>
                            </ul>
                            <a href="#">More Details</a> </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="tag_line">
            <div class="container">
                <h2>To find out more about how we can be your trusted analytics and planning partner, contact us today.</h2>

            </div>
        </div>

        <div class="partner mt-3 mb-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 center-block mb-2">
                        <h2 class="text-center">Our Associate Partner</h2>
                    </div>
                </div>



                <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

                    <div class="controls-top">
                        <a class="prev" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
                        <a class="next" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
                    </div>

                    <ol class="carousel-indicators">
                        <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
                        <li data-target="#multi-item-example" data-slide-to="1"></li>
                        <li data-target="#multi-item-example" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">

                            <div class="col-md-2">
                                <img src="images/logo/accenture.jpg" alt="aa" class="img-fluid"/>
                            </div>
                            <div class="col-md-2">
                                <img src="images/logo/accenture.jpg" alt="aa" class="img-fluid"/>
                            </div>

                            <div class="col-md-2">
                                <img src="images/logo/accenture.jpg" alt="aa" class="img-fluid"/>
                            </div>
                            <div class="col-md-2">
                                <img src="images/logo/accenture.jpg" alt="aa" class="img-fluid"/>
                            </div>
                            <div class="col-md-2">
                                <img src="images/logo/accenture.jpg" alt="aa" class="img-fluid"/>
                            </div>
                            <div class="col-md-2">
                                <img src="images/logo/accenture.jpg" alt="aa" class="img-fluid"/>
                            </div>
                        </div>

                        <div class="carousel-item">

                            <div class="col-md-2">
                                <img src="images/logo/accenture.jpg" alt="aa" class="img-fluid"/>
                            </div>

                            <div class="col-md-2">
                                <img src="images/logo/accenture.jpg" alt="aa" class="img-fluid"/>
                            </div>

                            <div class="col-md-2">
                                <img src="images/logo/accenture.jpg" alt="aa" class="img-fluid"/>
                            </div>
                            <div class="col-md-2">
                                <img src="images/logo/accenture.jpg" alt="aa" class="img-fluid"/>
                            </div>
                            <div class="col-md-2">
                                <img src="images/logo/accenture.jpg" alt="aa" class="img-fluid"/>
                            </div>
                            <div class="col-md-2">
                                <img src="images/logo/accenture.jpg" alt="aa" class="img-fluid"/>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    -->

</main>


