<footer class="page-footer mt-0 center-on-small-only">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5 class="title">About EnsureTax</h5>
                <p>EnsureTax is a complete tax solution platform for all Indian tax needs with a team of more than100 professionals. Through EnsureTax, you can go... 
                    <a href="/about" target="_self" class="read">Read more</a></p>
            </div>


             
            <div class="col-md-2 col-md-offset-1">
                <h5 class="title">Company</h5>
                <ul>
                    <li><a href="/" target="_self" title="Home">Home</a></li>
                    <li><a href="/about" target="_self" title="About">About</a></li>
                   <!-- <li><a href="/services" target="_self" title="Services">Services</a></li> -->
                    <li><a href="/contact" target="_self" title="Contact us">Contact us</a></li>
                </ul>
            </div>

            
            <div class="col-md-2">
                <h5 class="title">Support</h5>
                <ul>
                    <li><a href="/terms" target="_self" title="Terms of use">Terms of use</a></li>
                    <li><a href="/terms" target="_self" title="Privacy Policy">Privacy Policy</a></li>
                    <li><a href="javascript:;" title="FAQs">FAQs</a></li> 

                </ul>
            </div>
            
             <div class="col-md-3">
                <h5 class="title">Get in touch</h5>
               <ul>
               <li><i class="fa fa-map-marker"></i> &nbsp; Plot no. 35, Arjun Marg, <br> &nbsp; &nbsp; &nbsp; DLF phase-1, Gurgaon -122002</li>
               <li><i class="fa fa-phone"></i> &nbsp;(+91) 995858 2028 </li>
               <li><i class="fa fa-envelope"></i> &nbsp;info@ensuretax.com</li>
               </ul>
            </div>
            
        </div>
    </div>
 
   
    <div class="footer-copyright mt-2">
        <div class="container">
            <div class="row">
                <div class="col-md-8 text-left">
                    © 2017 <a href="javascript:;"> EnsureTax.com
                <span class="hidden-sm-down"> All rights reserved.</span></a>
                </div>
                <div class="col-md-4 text-right">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                </div>
            </div>
            
            
            

        </div>
    </div>
</footer>